<!DOCTYPE html>
<html>
<head>
    <title>Planning Poker</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/lib/angular-material/angular-material.css" rel="stylesheet" />

    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/signalr/jquery.signalr.js"></script>

    <script src="~/lib/lodash/lodash.js"></script>

    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/angular-route/angular-route.js"></script>
    <script src="~/lib/angular-signalr-hub/signalr-hub.js"></script>
    <script src="~/signalr/hubs"></script>

    <script src="~/lib/angular-animate/angular-animate.js"></script>
    <script src="~/lib/angular-aria/angular-aria.js"></script>
    <script src="~/lib/angular-material/angular-material.js"></script>

    <script src="~/lib/bluebird/bluebird.js"></script>

    <script src="~/scripts/pokerApp.js"></script>
    <script src="~/scripts/pokerControllers.js"></script>
    <script src="~/scripts/pokerService.js"></script>

    <base href="/" />
</head>
<body ng-app="pokerApp">
    <div ng-view></div>
</body>
</html>