<html>
<head>
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/signalr/jquery.signalr.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/angular-route/angular-route.js"></script>
    <script src="~/lib/angular-signalr-hub/signalr-hub.js"></script>
    <script src="~/scripts/pokerapp.js"></script>
    <script src="~/scripts/pokercontrollers.js"></script>
    <script src="~/scripts/pokerService.js"></script>

    <base href="/" />
</head>
<body ng-app="pokerApp">
    <div ng-view></div>
</body>
</html>