<html>
<head>
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/signalr/jquery.signalr.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/scripts/poker-room.js"></script>
</head>
<body>
    <h2>Poker Room: @ViewBag.roomId</h2>

    <input type="hidden" name="roomId" value="@ViewBag.roomId" />

    <div>
        Username: <span id="userName"></span>
    </div>

    <div>
        User Story:
        <textarea id="description"></textarea>
        <div id="descrDisplay"></div>
    </div>

    <div>
        Users:
        <ul id="userList"></ul>
    </div>

</body>
</html>