<md-content>
    <div layout="row" layout-sm="column">
        <section flex>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2 class="md-flex">Planning Poker [{{ username }}]</h2>
                </div>
            </md-toolbar>
            <md-content>
                <div>&nbsp;</div>
                <div class="label">Users</div>
                <md-list>
                    <md-list-item ng-repeat="user in activeUsers track by $index">
                        <p>{{ user }}</p>
                        <md-divider></md-divider>
                    </md-list-item>
                </md-list>
            </md-content>
        </section>

        <section layout="column" flex>
            <md-toolbar class="md-accent">
                <div class="md-toolbar-tools">
                    <h2 class="md-flex">Rooms</h2>
                </div>
            </md-toolbar>
            <md-content>
                <md-list>
                    <md-list-item ng-repeat="room in activeRooms" ng-click="connectToRoom(room)">
                        <p>{{ room }}</p>
                        <md-button class="md-secondary" ng-click="connectToRoom(room, 'scm')" aria-label="Join as SCM">SCM Join As</md-button>
                    </md-list-item>
                </md-list>

                <md-divider></md-divider>

                <div layout="row">
                    <md-input-container flex>
                        <label>Room Name</label>
                        <input type="text" ng-model="roomName" />
                    </md-input-container>

                    <md-button ng-click="connectToRoom(roomName, 'scm')" class="md-raised">Create Room</md-button>
                </div>
            </md-content>
        </section>
    </div>
</md-content>