<h1>Planning Poker</h1>

<md-content>
    <div layout="row" layout-sm="column">
        <section flex>
            <div class="label">Users [{{ username }}]</div>
            <md-list>
                <md-list-item ng-repeat="user in activeUsers">
                    <p>{{ user }}</p>
                </md-list-item>
            </md-list>
        </section>

        <section layout="column" flex>
            <div class="label">Rooms</div>
            <md-list>
                <md-list-item ng-repeat="room in activeRooms" ng-click="connectToRoom(room)">
                    <p>{{ room }}</p>
                    <md-button class="md-secondary" ng-click="connectToRoom(room, 'scm')">SCM Join As</md-button>
                </md-list-item>
            </md-list>
            <input type="text" ng-model="roomName" />
            <md-button ng-click="connectToRoom(roomName, 'scm')" class="md-raised">Create Room</md-button>
        </section>
    </div>
</md-content>