section {
    margin: 1em;
}

section md-content.md-default-theme {
    background: #f7f7f7;
    padding: 10px 10px 10px 20px;
}

section .label {
    margin-left: -10px;
    font-size: 14px;
    opacity: 0.5;
}